    /* Define styles for the hover effect */
    .img {
        transition: transform 0.3s ease-in-out;
    }
    
    /* Scale up the image on hover */
    .img:hover {
        transform: scale(1.1);
    }

    .section{
        min-height: 100vh;
        display: flex;
        position: relative;
    }